<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>HomePage</title>
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
</head>
<body>
<th:block th:include="/_menu"></th:block>
<div class="container-fluid text-center">
    <h2 style="margin-bottom: 40px;"><span th:utext="${message}"></span></h2>
    <h3 th:if="${#request.userPrincipal != null}">Hello <span style="color: coral;" th:utext="${loginedUserEnt.email}"></span>!
    <br/>
        Have a nice day!!!
    </h3>
</div>
</div>
</body>
</html>